body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid; 
    text-align: center;
    justify-content: center;
    border: solid;  
    border-radius: 1rem;
    border-color: #000;
    background: #ccc; 

}
h1{
    border-bottom: 1rem, solid;
    border-color: #000;
}
.moves {
    text-align: left; 
    text-transform: uppercase;
}

.container{
    display: flex; 
    width: 700px; 
    height: 50vh; 

}
footer{
    display: inline-flex;
    place-content: center;
}

.col {
    display: flex; 
    flex-direction: flex-end; 
    align-items: center;
    flex: auto; 
    margin: 0px; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    cursor: pointer; 
    overflow-wrap: break-word; 
}

.col+.col{
    border-left: 10px solid burlywood; 
}

.ring{
    height: 1.5rem;
}

.bounce{
    animation-name: bounce; 
    animation-iteration-count: infinate; 
    animation-timing-function:cubic-bezier(1, 0, 0, 1); 
    animation-duration: 800ms; 
    animation-delay: 300ms; 
}

@keyframes bounce{
    0%, 90% {transform: translate(0,-1rem)}
    90%, 100% {transform: translate(0,0)}
}

.level-select{
    color: white; 
    margin: auto -20rem auto -20rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    transition: all 100ms ease;
    font-size: 1.5rem; 

}
.level-select-box{
    font-size: 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}