body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid; 
    text-align: center;
    justify-content: center;
    border: solid;  
    border-radius: 1rem;
    border-color: #000;

}
h1{
    border-bottom: 1rem, solid;
    border-color: #000;
}
.moves {
    text-align: left; 
    text-transform: uppercase;
}

.container{
    display: flex; 
    width: 700px; 
    height: 50vh; 

}
footer{
    display: inline-flex;
    place-content: center;
}

.col {
    display: flex; 
    flex-direction: flex-end; 
    align-items: center;
    flex: auto; 
    margin: 0px; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    cursor: pointer; 
    overflow-wrap: break-word; 
}

.col+.col{
    border-left: 10px dashed burlywood; 
}

.ring{
    height: 1.5rem;
}
